@font-face {
    font-family: "made-tommy-black";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Black.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-black-outline";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Black-Outline.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-thin";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Thin.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-thin-outline";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Thin-Outline.woff") format("woff");
}


@font-face {
    font-family: "made-tommy-regular";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Regular_.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-regular-outline";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Regular-Outline.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-medium";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Medium.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-medium-outline";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Medium-Outline.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-light";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Light.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-light-outline";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Light-Outline.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-extraBold";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-extraBold-outline";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-ExtraBold-Outline.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-bold";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Bold.woff") format("woff");
}

@font-face {
    font-family: "made-tommy-bold-outline";
    src: url("../fonts/Made-Tommy/MADE-TOMMY-Bold-Outline_.woff") format("woff");
}

@font-face {
    font-family: "value-black";
    src: url("../fonts/Value/value-black.woff2") format("woff2");
}

@font-face {
    font-family: "value-bold";
    src: url("../fonts/Value/value-bold.woff2") format("woff2");
}

@font-face {
    font-family: "value-medium";
    src: url("../fonts/Value/value-medium.woff2") format("woff2");
}

@font-face {
    font-family: "value-regular";
    src: url("../fonts/Value/value-regular.woff2") format("woff2");
}

@font-face {
    font-family: "euclid-regular";
    src: url("../fonts/euclid-circular-a-cufonfonts/euclid_circular_a_regular-webfont.woff2") format("woff2");
}
