@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face */
@font-face {
    font-family: "euclid-regular";
    src: url("./assets/fonts/euclid-circular-a-cufonfonts/euclid_circular_a_regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "euclid-bold";
    src: url("./assets/fonts/euclid-circular-a-cufonfonts/euclid_circular_a_bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "euclid-medium";
    src: url("./assets/fonts/euclid-circular-a-cufonfonts/euclid_circular_a_medium-webfont.woff") format("woff");
}

@font-face {
    font-family: "euclid-semibold";
    src: url("./assets/fonts/euclid-circular-a-cufonfonts/euclid_circular_a_semibold-webfont.woff") format("woff");
}


@font-face {
    font-family: "value-bold";
    src: url("./assets/fonts/Value/value-bold.woff2") format("woff2");
}

@font-face {
    font-family: "value-black";
    src: url("./assets/fonts/Value/value-black.woff2") format("woff2");
}

@font-face {
    font-family: "value-medium";
    src: url("./assets/fonts/Value/value-medium.woff2") format("woff2");
}

@font-face {
    font-family: "value-regular";
    src: url("./assets/fonts/Value/value-regular.woff2") format("woff2");
}