@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face */
@font-face {
    font-family: "euclid-regular";
    src: url("./assets/fonts/euclid-circular-a-cufonfonts/euclid_circular_a_regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "euclid-bold";
    src: url("./assets/fonts/euclid-circular-a-cufonfonts/euclid_circular_a_bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "euclid-medium";
    src: url("./assets/fonts/euclid-circular-a-cufonfonts/euclid_circular_a_medium-webfont.woff") format("woff");
}

@font-face {
    font-family: "euclid-semibold";
    src: url("./assets/fonts/euclid-circular-a-cufonfonts/euclid_circular_a_semibold-webfont.woff") format("woff");
}

@font-face {
    font-family: "euclid-italic";
    src: url("./assets/fonts/euclid-circular-a-cufonfonts/euclid_circular_a_italic-webfont.woff") format("woff");
}

@font-face {
    font-family: "euclid-italicBold";
    src: url("./assets/fonts/euclid-circular-a-cufonfonts/euclid_circular_a_bold_italic-webfont.woff") format("woff");
}


@font-face {
    font-family: "value-bold";
    src: url("./assets/fonts/Value/value-bold.woff2") format("woff2");
}

@font-face {
    font-family: "value-black";
    src: url("./assets/fonts/Value/value-black.woff2") format("woff2");
}

@font-face {
    font-family: "value-medium";
    src: url("./assets/fonts/Value/value-medium.woff2") format("woff2");
}

@font-face {
    font-family: "value-regular";
    src: url("./assets/fonts/Value/value-regular.woff2") format("woff2");
}

@font-face {
    font-family: 'degulardisplay-thinitalic';
    src: url("./assets/fonts/degular_display/DegularDisplay-ThinItalic.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-thin';
    src: url("./assets/fonts/degular_display/DegularDisplay-Thin.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-semibolditalic';
    src: url("./assets/fonts/degular_display/DegularDisplay-SemiboldItalic.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-semibold';
    src: url("./assets/fonts/degular_display/DegularDisplay-Semibold.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-regularitalic';
    src: url("./assets/fonts/degular_display/DegularDisplay-RegularItalic.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-regular';
    src: url("./assets/fonts/degular_display/DegularDisplay-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-mediumitalic';
    src: url("./assets/fonts/degular_display/DegularDisplay-MediumItalic.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-medium';
    src: url("./assets/fonts/degular_display/DegularDisplay-Medium.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-lightitalic';
    src: url("./assets/fonts/degular_display/DegularDisplay-LightItalic.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-light';
    src: url("./assets/fonts/degular_display/DegularDisplay-Light.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-bolditalic';
    src: url("./assets/fonts/degular_display/DegularDisplay-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-bold';
    src: url("./assets/fonts/degular_display/DegularDisplay-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-blackitalic';
    src: url("./assets/fonts/degular_display/DegularDisplay-BlackItalic.otf") format("opentype");
}
@font-face {
    font-family: 'degulardisplay-black';
    src: url("./assets/fonts/degular_display/DegularDisplay-Black.otf") format("opentype");
}

@font-face {
    font-family: 'trap-semibold';
    src: url("./assets/fonts/trap/Trap-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: 'trap-regular';
    src: url("./assets/fonts/trap/Trap-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'trap-medium';
    src: url("./assets/fonts/trap/Trap-Medium.otf") format("opentype");
}
@font-face {
    font-family: 'trap-light';
    src: url("./assets/fonts/trap/Trap-Light.otf") format("opentype");
}
@font-face {
    font-family: 'trap-extrabold';
    src: url("./assets/fonts/trap/Trap-ExtraBold.otf") format("opentype");
}
@font-face {
    font-family: 'trap-bold';
    src: url("./assets/fonts/trap/Trap-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'trap-black';
    src: url("./assets/fonts/trap/Trap-Black.otf") format("opentype");
}